@use "./styles/tokens";
@use "./styles/typography";
@use "./styles/buttons";
@use "./styles/cards";
@use "./styles/forms";
@use "./styles/helpers";

*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 30px;
}